<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Your profile</h1>
    <ul>
        <li>First Name: <%=locals.user.firstName%></li>
        <li>Last Name: <%=locals.user.lastName%></li>
        <li>Email: <%=locals.user.email%></li>
    </ul>
    <form action="logout" method="post"><button type="submit">Logout</button></form>
</body>
</html>